@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #373B44;  
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
    font-family: 'Bruno Ace SC', cursive;
}

.container{
    width: 500px;
    height: 350px;
    border: solid 1px;
    margin: 50px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.derecha{
    margin-left: 50px;
    width: 30%;
}

#texto1{
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
}

#faren{
    margin-top: 30px;
    height: 25px;
}

.boton{
    margin-left: 50px;
    margin-top: 30px;
    width: 50%;
}

button{
    height: 25px;
    width: 80px;
    background-color: #4286f4;
    color: white;
    border-radius: 25px;
}

#texto2{
    margin-left: 50px;
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
}

.resultado{
    border: solid 1px gray;
    height: 25px;
    width: 180px;
    margin-left: 50px;
    margin-top: 30px;
}

.cero{
    position: absolute;
    margin-top: 10px;
    margin-left: 340px;
}

.cien{
    position: absolute;
    margin-top: -106px;
    margin-left: 335px;
}

.termometro{
    margin-left: 300px;
    margin-top: -50px;
    border: solid 1px;
    height: 20px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    transform: rotate(270deg);
}

.temperatura{
    height: 16px;
    width: 10px;
    border: solid 1px;
    margin-top: 1px;
    background-color: red;
}